* {
    margin: 0 0;
    padding: 0 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    /* background-color: #f78aab; */
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

.shenglue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s ease-in-out;
}